@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  55% {
    opacity: 0.5;
    transform: translateX(6.6rem);
  }
  89% {
    opacity: 0.8;
    transform: translateX(-3.3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  55% {
    opacity: 0.5;
    transform: translateX(-6.6rem);
  }
  89% {
    opacity: 0.8;
    transform: translateX(3.3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveInButtomBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
