/* USE wherever in the project */
.u-center-text {
  text-align: center;
}
.u-bottom-margin-big {
  margin-bottom: 8rem;
}
.u-bottom-margin-medium {
  margin-bottom: 4rem;
}
.u-bottom-margin-small {
  margin-bottom: 1.5rem;
}
