.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    color: $color-white;
  }
  &__logo {
    height: 3.5rem;
    &:hover {
      animation: rotateClockwise 1.3s infinite linear;
    }
  }
  &__logo-text {
    top: 8rem;
    color: $color-white;
    &:hover {
      animation: fadeOut 1s ease-out infinite;
    }
  }
  &__text-box {
    @include absCenter;
    text-align: center;
  }
}
