/* the perspective must be on the parent */

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  &__side {
    position: relative;
    box-shadow: 0 1.4rem 4rem rgba($color-black, 0.15);
    border-radius: 3px;
    font-size: 3rem;
    color: white;
    height: 50rem;
    transition: all 0.8s ease;
    width: 100%;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    &--front {
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-primary-dark
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
      position: absolute;
    }
    &--back {
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-primary-dark
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
      transform: rotateY(180deg);
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
