.feature-box {
  text-align: center;
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  position: relative;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.4rem 4rem rgba($color-black, 0.15);
  transition: all 0.4s;
  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    color: transparent;
    -webkit-background-clip: text;
  }
  &:hover {
    transform: translateY(-1.4rem) scale(1.02);
  }
}
